<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" href="/css/mystyle.css" >
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3">
                <ol class="breadcrumb mb-0">
                     <li class="breadcrumb-item active" aria-current="page" th:text=" '/ Записна книжка '"></li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <a th:href="@{/notebook/add/{user_id}(user_id=${user.id})}" class="m-3 col-md-auto btn btn-lg btn-success">
            Додати
        </a>
    </div>
    <div class="row">

        <button class="m-3 col-md-auto btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
           Усі фільтри
        </button>

        <div class="m-3 col-md-auto ms-auto">
            <form th:action="@{/notebook/user/{user_id}(user_id=${user.id})}" method="get">
            <div class="input-group rounded">
                <input id="inputSearch" name="input" th:value="${input}"  type="search" class="form-control rounded" placeholder="Пошук" aria-describedby="search-addon" />
                <button type="submit" class="input-group-text border-0"><i class="bi bi-search"></i>
                </button>
            </div>

            </form>
        </div>

        <div class="m-3 col-md-auto ms-auto">
            <div class="dropdown">
                <button class="btn btn-lg dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Сортувати
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=lastModified&order=' + ${reverseSortDir}}">За останнім редагуванням</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=firstName&order=' + ${reverseSortDir}}">За ім'ям</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=lastName&order=' + ${reverseSortDir}}">За прізвищем</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=surname&order=' + ${reverseSortDir}}">За по-батькові</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=email&order=' + ${reverseSortDir}}">За email</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=address&order=' + ${reverseSortDir}}">За адресою</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=id&order=' + ${reverseSortDir}}">За номером</a></li>
                    <li><a class="dropdown-item" th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=birthday&order=' + ${reverseSortDir}}">За днем народженням</a></li>
                </ul>
            </div>
        </div>
    </div>

    <input type="hidden" id="userIdHidden" th:value="${user.getId()}">

<table class="table align-middle p-1 table-sm table-hover table-striped">
    <thead class="table-secondary">
    <tr>
        <th> <a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=id&order=' + ${reverseSortDir}}">#</a>
        </th>
        <th><a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=firstName&order=' + ${reverseSortDir}}">Імʼя</a>
        </th>
        <th><a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=lastName&order=' + ${reverseSortDir}}">Прізвище</a></th>
        <th><a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=surname&order=' + ${reverseSortDir}}">По-батькові</a>
        </th>
        <th> <a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=email&order=' + ${reverseSortDir}}">Email</a></th>
        <th> <a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=address&order=' + ${reverseSortDir}}">Адреса</a></th>
        <th>Тип знайомства</th>
        <th> <a th:href="@{'/notebook/user/' + ${user.id} + '?page' + ${currentPage} + '&sort=birthday&order=' + ${reverseSortDir}}">День народження</a>
            </th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="person : ${persons}" >
        <td th:text="${person.getId()}">
        </td>
        <td th:text="${person.getFirstName()}">
        </td>
        <td th:text="${person.getLastName()}">
        </td>
        <td th:text="${person.getSurname()}">
        </td>
        <td th:text="${person.getEmail()}">
        </td>
        <td th:text="${person.getAddress()}">
        </td>
        <td>
              <span th:text="${person.getConnection()}" class="badge bg-primary badge-lg">
            </span>
        </td>
        <td th:text="${person.getBirthday()}">
        </td>
        <td>
            <div class="px-2">
                <a th:href="@{/notebook/person/{person_id}(person_id=${person.id})}" class="btn btn-sm btn-info">
                    <i class="bi bi-info-circle mx-1"></i>

                </a>
                <a  th:href="@{/notebook/edit/{person_id}(person_id=${person.id})}" class="btn btn-sm btn-warning">
                    <i class="bi bi-pencil mx-1"></i>

                </a>
                <a class="btn btn-sm btn-danger" data-bs-target="#myconfirm" data-bs-toggle="modal"
                   th:attr="data-bs-link=@{/notebook/delete(person_id=${person.id},user_id=${user.getId()})}, data-bs-text=${person.getFirstName()}, data-bs-id=${person.id}">
                    <i class="bi bi-trash"></i>
                </a>

            </div>
        </td>
    </tr>

</table>

    <div class="container">
    <div class="row justify-content-center">
        <nav aria-label="Page navigation" class="col-auto">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/notebook/user/'+ ${user.getId()} + '?page=1' + '&sort=' + ${sortField} + '&order=' + ${sortOrder}}">Перша</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/notebook/user/'+ ${user.getId()} + '?page=' + ${currentPage - 1} + '&sort=' + ${sortField} + '&order=' + ${sortOrder}}">Попередня</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == i ? 'active' : ''}">
                    <a class="page-link" th:href="@{'/notebook/user/' + ${user.getId()} + '?page=' + ${i} + '&sort=' + ${sortField} + '&order=' + ${sortOrder}}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages  ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/notebook/user/'+ ${user.getId()} + '?page=' + ${currentPage + 1 } + '&sort=' + ${sortField} + '&order=' + ${sortOrder}}">Наступна</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages  ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/notebook/user/'+ ${user.getId()} + '?page=' + ${totalPages} + '&sort=' + ${sortField} + '&order=' + ${sortOrder}}">Остання</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>

    <div th:each="person : ${birthday}">
        <!-- Bootstrap notification card -->
        <div class="card mb-3">
            <div class="card-body">
                <!-- Notification content -->
                <h5 class="card-title">День народження <i class="bi bi-cake2"></i></h5>
                <p class="card-text" th:text="${person.firstName + ' ' + (person.lastName != null ? person.lastName : '') + ' святкує день народження сьогодні!'}"></p>
                <button class="btn btn-primary showRandomWishBtn" >Привітати</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="birthdayWish"
         tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Привітання</h1>
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="birthdayWishText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Тип знайомств</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрити"></button>
        </div>
        <div class="offcanvas-body">
            <div th:each="connection : ${connections}">
                <div class="form-check">
                    <input name="connection" class="form-check-input" th:value="${connection.title}" type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"><p th:text="${connection.title}"></p>
                    </label>
                </div>
             </div>
        </div>

        <button type="button" class="btn btn-primary" id="applyFilterBtn">Застосувати</button>
    </div>



    <div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticWarningLabel">Попередження</h1>
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Ви впевнені, що хочете видалити цей запис<br/>
                    Якщо ви натиснете видалити, цю дію <i>не можна відмінити</i>.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
                    <a class="btn btn-danger delete-button">Видалити</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function() {
        $('#applyFilterBtn').click(function() {
            let baseUrl = '/notebook/user/' + document.getElementById('userIdHidden').value + '?';

            // Collect selected connection types
            let selectedConnections = [];
            $('input[name="connection"]:checked').each(function() {
                selectedConnections.push($(this).val());
            });
            // Append selected connection types to URL
            selectedConnections.forEach(function(connection) {
                baseUrl += 'connection=' + connection + '&';
            });
            // Remove trailing '&' if exists
            baseUrl = baseUrl.slice(0, -1);
            // Redirect to the filtered URL
            window.location.href = baseUrl;
        });
    });

    $(document).ready(function() {
        $('.showRandomWishBtn').click(function() {
            // Make AJAX request to fetch random birthday wish
            $.ajax({
                type: 'GET',
                url: '/getRandomWish', // Endpoint in PersonController
                success: function(data) {
                    // Show the modal
                    $('#birthdayWish').modal('show');
                    // Set the wish text in the modal body
                    $('#birthdayWishText').text(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching random birthday wish:', error);
                }
            });
        });
    })

    let myConfirmDialog = document.getElementById('myconfirm')
    myConfirmDialog.addEventListener('show.bs.modal', function (event){
        let button = event.relatedTarget
        let link = button.getAttribute('data-bs-link')
        let cid = button.getAttribute('data-bs-id')
        let text = button.getAttribute('data-bs-text')
        let modalTitle = myConfirmDialog.querySelector('.modal-title')
        modalTitle.textContent = 'Видалити: ' + text + ' (' + cid + ')'
        let deleteButton = myConfirmDialog.querySelector('.delete-button')
        deleteButton.setAttribute('href', link)
        let course = document.getElementById('course-txt')
        course.textContent = text
    })
</script>

<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.js}"></script>

</body>
</html>